<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Bloc Questions</title>
    <link rel="stylesheet" href="style/stylefor.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="myCtrl">
    <div class="testbox">
        <form ng-submit="submitForm()">
            <h1>Fiche ETUDIANT</h1>
            <br><br>
            <label for="name">Nom:</label>
            <input type="text" id="name" ng-model="student.nom">
            <label for="firstname"> Prénom:</label>
            <input type="text" id="prénom" ng-model="student.prenom"> <br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" ng-model="student.email">
            <Label for="departement">Département:</label>
            <select id="departement" ng-model="student.departement">
                <option value="SN-L">SN-L</option>
                <option value="SN-B">SN-B</option>
                <option value="SN-M">SN-M</option>
                <option value="SN-T">SN-T</option>
                <option value="SN-R">SN-R</option>
                <option value="SN-A">SN-A</option>
                <option value="MF2E">MF2E</option>
                <option value="MF2E Eau et Environnement">MF2E Eau et Environnement</option>
                <option value="MF2E Energie-FEP">MF2E Energie</option>
                <option value="3EA Electronique">3EA Electronique (s7)</option>
                <option value="3EA electrique et simulation">3EA electrique et simulation (s7)</option>
                <option value="3EA energie">3EA energie (s7)</option>
                <option value="3EA InSyst">3EA InSyst (s8)</option>
                <option value="3EA SysCom">3EA SysCom (s8)</option>
                <option value="3EA PN">3EA PN (s8)</option>
                <option value="3EA IATI">3EA IATI (s8)</option>
                <option value="3EA SATR">3EA SATR (s8)</option>
                <option value="3EA SEF">3EA SEF (s8)</option>
                <option value="3EA SM">3EA SM (s8)</option>
            </select>
            <br><br>

            <Label for="semestre">Semestre:</label>
            <select id="semestre" ng-model="student.semestre">
                <option value="s7">S7</option>
                <option value="s8">S8</option>
                <option value="s9">S9</option>
            </select>
            <label for="date">Dates de la mobilité :</label>
            <input type="date" id="date" ng-model="student.date_mobilite"> <br><br>
            <label for="durre">Durée de la mobilité:</label>
            <input type="text" id="duree_mobilite" ng-model="student.duree_mobilite">
            
            <label for="pays">Pays destination</label>
            <select id="pays" ng-model="student.selectedPays" ng-options="pays.name as pays.name for pays in paysList"
                ng-change="updateSelectedPays()">
                <option value="">Select a country</option>
            </select>
            <br><br>

            <label for="university">University :</label>
            <select id="university" ng-model="student.selectedEcole" ng-options="ecole for ecole in ecolesList">
                <option value="">Select a university</option>
            </select>
            <br><br>
            <div ng-repeat="bloc in blocs track by $index">
                <h1>{{ bloc.title }}</h1><br><br>

                <div ng-repeat="question in bloc.questions">
                    <label for="message">{{ question.content }}</label><br><br>
                    <textarea ng-model="question.response" rows="3" cols="50"></textarea><br><br>
                </div>
            </div>

            <div class="btn-block">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http) {
            $scope.student = {};
            $scope.paysList = [{ name: "france", university: ["a", "b", "c"] },
            { name: "espagne", university: ["d", "e", "f"] }];
            $scope.blocs = [
                {
                    title: 'Bloc 1',
                    questions: [
                        { id: 1, content: 'Question 1.1', response: '' },
                        { id: 2, content: 'Question 1.2', response: '' }
                    ]
                },
                {
                    title: 'Bloc 2',
                    questions: [
                        { id: 3, content: 'Question 2.1', response: '' },
                        { id: 4, content: 'Question 2.2', response: '' }
                    ]
                },
                {
                    title: 'Bloc 3',
                    questions: [
                        { id: 5, content: 'Question 3.1', response: '' },
                        { id: 6, content: 'Question 3.2', response: '' }
                    ]
                }
            ];

            //$scope.blocs =[] ;

            // Récupérer les données depuis la servlet Java
            $http.get('/appPrincipale/formulaire')
                .then(function (response) {
                    $scope.blocs = response.data;
                    console.log(response.data);
                }, function (error) {
                    console.error('Error fetching data:', error);
                });

            $scope.updateSelectedPays = function () {
                console.log("Pays sélectionné :", $scope.student.selectedPays);
                var selectedCountry = $scope.student.selectedPays;
                var countryObj = $scope.paysList.find(function (country) {
                    return country.name === selectedCountry;
                });

                // Si un pays correspondant est trouvé, met à jour la liste des universités
                if (countryObj) {
                    $scope.ecolesList = countryObj.university;
                } else {
                    $scope.ecolesList = []; // Si aucun pays correspondant n'est trouvé, efface la liste des universités
                }

            };

            $scope.submitForm = function () {
                var formData = {
                    student: $scope.student,
                    blocs: $scope.blocs
                };
                console.log(formData)

                $http.post('/appPrincipale/formulaire', formData)
                    .then(function (response) {
                        alert('Data saved successfully');
                        $scope.student = {};
                        $scope.blocs.forEach(function (bloc) {
                            bloc.questions.forEach(function (question) {
                                question.response = '';
                            });
                        });
                    }, function (error) {
                        alert('Error saving data');
                    });
            };
        });
    </script>
</body>

</html>