<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
 <display-name>test front</display-name>
 
 <!-- Configuration de votre servlet -->
 <servlet>
  <servlet-name>ServeletPrincipale</servlet-name>
  <servlet-class>src.main.java.ServeletPrincipale</servlet-class>
 </servlet>
 
 <!-- Mapping de votre servlet -->
 <servlet-mapping>
  <servlet-name>ServeletPrincipale</servlet-name>
  <url-pattern>/ServeletPrincipale</url-pattern>
 </servlet-mapping>
 
 <!-- Liste des fichiers de bienvenue -->
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
  <welcome-file>index.jsp</welcome-file>
  <welcome-file>index.htm</welcome-file>
  <welcome-file>default.html</welcome-file>
  <welcome-file>default.jsp</welcome-file>
  <welcome-file>default.htm</welcome-file>
 </welcome-file-list>
</web-app>
